a { 
	color: #990000;
	text-decoration: none;
}

/* Middle Section Styles */
.middle-section {
  display: flex;
  width: 95%;
  margin: 10px;
}
/* Right Side Styles */
.right-side {
  flex: 1;
  float: left;
  overflow-y: auto;
  max-height: 65vh;
}

/* Footer Styles */
.footer {
  /* Add styles for the footer */
}

body {
	margin-top: 10px;
	overflow: hidden;
}

/* Header Styles */
.header {
  background: transparent;
  /* Add any additional styles for the header */
}

.logo {
	display: flex;
	align-items: center;
	height: 250px;
}

.hart {	
	max-height: 100%;
	width: auto;
}

.logo-lines {	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-line {
	margin-bottom: 10px; /* Adjust the spacing between the lines */
}

.logo-text {
  display: inline-block;
  color: darkred;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: calc(2.5vw + 2.5vh); /* Adjust the font-size calculation as needed */
}

.logo-nav {
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: calc(2.5vw + 2.5vh); /* Adjust the font-size calculation as needed */
}

.header-title {
	padding: 10px;
	border: 1px solid #777;
	margin: 2px;
	display: flex;
	justify-content: space-between;
	width: 99%
}

.header-title a {
	margin-right: 10px; /* Adjust the spacing between links */
	font-size: 24px;
  }
/* End Header Syles */

/* Post title */
.post-title {
	color: #990000;
}

.copyright {	
    float: right;
    padding-right: 10px;
    color: #999999;
}

.menu {
	box-shadow: 2px 2px 4px rgba(1, 0, 0, 0.8);
	padding: 5px;
	border: darkred;
}
